# Essential Data Analysis Techniques in Python: DataFrames, indexing, grouping, merging, and pivot tables in Pandas.

#### 1.Creating DataFrames (different ways)

In [2]:
## TASK-1
import pandas as pd  # Importing pandas for data manipulation
import numpy as np   # Importing numpy for numerical operations

# 1. From dictionary of lists

# Creating a dictionary where each key corresponds to a column
data1 = {"Name": ["DHONI", "KOHLI", "ROHIT"],
         "Age": [30, 25, 28],
         "Score": [92, 87, 95]}

# Converting the dictionary into a DataFrame
df1 = pd.DataFrame(data1)
print("DataFrame from dictionary of lists:\n", df1, "\n")

DataFrame from dictionary of lists:
     Name  Age  Score
0  DHONI   30     92
1  KOHLI   25     87
2  ROHIT   28     95

In [3]:
# TASK-2
# 2. From dictionary of Series

# Creating a dictionary where each value is a pandas Series
# The index defines the row labels
data2 = {"Math": pd.Series([95, 88, 82], index=["ROHIT", "DHONI", "VIRAT"]),
         "Science": pd.Series([90, 90, 85], index=["ROHIT", "DHONI", "VIRAT"])}

# Converting the dictionary of Series into a DataFrame
df2 = pd.DataFrame(data2)
print("DataFrame from dictionary of Series:\n", df2, "\n")

DataFrame from dictionary of Series:
        Math  Science
ROHIT    95       90
DHONI    88       90
VIRAT    82       85

In [4]:
# TASK-3
# 3. From NumPy array

# Creating a 3x3 NumPy array with values 10 to 18 (reshaped into 3 rows, 3 columns)
array_data = np.arange(10, 19).reshape(3, 3)

# Converting the NumPy array into a DataFrame with column names
df3 = pd.DataFrame(array_data,
                   columns=["Col1", "Col2", "Col3"])
print("DataFrame from NumPy array:\n", df3, "\n")

DataFrame from NumPy array:
    Col1  Col2  Col3
0    10    11    12
1    13    14    15
2    16    17    18

#### 2. Accessing rows and columns

In [5]:
## TASK-4
# Program 2: Accessing rows and columns
import pandas as pd  # Import pandas library

# Creating a dictionary with new data
data = {"Name": ["ROHIT", "DHONI", "VIRAT","JADDU"],
        "Age": [28, 31, 26, 29],
        "Score": [91, 85, 89, 94]}

# Converting dictionary to DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:\n", df, "\n")

Original DataFrame:
     Name  Age  Score
0  ROHIT   28     91
1  DHONI   31     85
2  VIRAT   26     89
3  JADDU   29     94

In [6]:
# Access a single column

# Selecting the 'Score' column; returns a Series
print("Accessing single column (Score):\n", df["Score"], "\n")

Accessing single column (Score):
 0    91
1    85
2    89
3    94
Name: Score, dtype: int64

In [7]:
# Access multiple columns

# Selecting 'Name' and 'Age' columns; returns a DataFrame
print("Accessing multiple columns:\n", df[["Name", "Age"]], "\n")

Accessing multiple columns:
     Name  Age
0  ROHIT   28
1  DHONI   31
2  VIRAT   26
3  JADDU   29

In [8]:
# Access row by index label using loc

# loc uses the row labels (default is 0,1,2,...)
print("Access row using loc:\n", df.loc[2], "\n")

Access row using loc:
 Name     VIRAT
Age         26
Score       89
Name: 2, dtype: object

In [9]:
# Access row by integer location using iloc

# iloc uses integer position to access rows
print("Access row using iloc:\n", df.iloc[1], "\n")

Access row using iloc:
 Name     DHONI
Age         31
Score       85
Name: 1, dtype: object

#### 3. Indexing and Slicing

In [10]:
## TASK-5
import pandas as pd  # Importing pandas library

# Creating a dictionary with new data
data = {"Name": ["ROHIT", "DHONI", "VIRAT","JADDU","PANDYA"],
        "Age": [31, 26, 29, 24, 27],
        "Score": [95, 92, 88, 90, 87]}

# Converting dictionary into a DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:\n", df, "\n")

Original DataFrame:
      Name  Age  Score
0   ROHIT   31     95
1   DHONI   26     92
2   VIRAT   29     88
3   JADDU   24     90
4  PANDYA   27     87

In [11]:
# Slicing rows using standard Python slicing

# Select the first three rows (0,1,2)
print("First three rows:\n", df[:3], "\n")

First three rows:
     Name  Age  Score
0  ROHIT   31     95
1  DHONI   26     92
2  VIRAT   29     88

In [12]:
# Slicing specific rows using loc

# loc includes both start and end index (rows 1 to 3)
print("Rows 1 to 3:\n", df.loc[1:3], "\n")

Rows 1 to 3:
     Name  Age  Score
1  DHONI   26     92
2  VIRAT   29     88
3  JADDU   24     90

In [13]:
# Slicing specific columns

# Select all rows (:) but only 'Name' and 'Score' columns
print("Columns Name and Score:\n", df.loc[:, ["Name", "Score"]], "\n")

Columns Name and Score:
      Name  Score
0   ROHIT     95
1   DHONI     92
2   VIRAT     88
3   JADDU     90
4  PANDYA     87

In [14]:
# Conditional selection

# Select rows where 'Score' > 88
print("Rows where Score > 88:\n", df[df["Score"] > 88], "\n")

Rows where Score > 88:
     Name  Age  Score
0  ROHIT   31     95
1  DHONI   26     92
3  JADDU   24     90

#### 4. Adding, Updating, and Deleting Data

In [15]:
## TASK-6
import pandas as pd  # Import pandas library

# Creating a DataFrame with initial data
df = pd.DataFrame({"Name": ["ROHIT", "DHONI", "VIRAT"],
                   "Age": [30, 25, 28]})
print("Original DataFrame:\n", df, "\n")

Original DataFrame:
     Name  Age
0  ROHIT   30
1  DHONI   25
2  VIRAT   28

In [16]:
# Adding a new column

# Adding a 'Score' column with new values
df["Score"] = [92, 87, 95]
print("After adding Score column:\n", df, "\n")

After adding Score column:
     Name  Age  Score
0  ROHIT   30     92
1  DHONI   25     87
2  VIRAT   28     95

In [17]:
# Updating values

# Updating the Age of the second row (Mahi) using at
df.at[1, "Age"] = 26
print("After updating Age of Eva:\n", df, "\n")

After updating Age of Eva:
     Name  Age  Score
0  ROHIT   30     92
1  DHONI   26     87
2  VIRAT   28     95

In [18]:
# Deleting a column

# Dropping the 'Score' column; axis=1 indicates column
df = df.drop("Score", axis=1)
print("After deleting Score column:\n", df, "\n")

After deleting Score column:
     Name  Age
0  ROHIT   30
1  DHONI   26
2  VIRAT   28

In [19]:
# Deleting a row

# Dropping the row with index 2 (Hardik); axis=0 indicates row
df = df.drop(2, axis=0)
print("After deleting row with index 2:\n", df, "\n")

After deleting row with index 2:
     Name  Age
0  ROHIT   30
1  DHONI   26

#### 5. Handling Missing Data

In [20]:
## TASK-7
import pandas as pd  # Import pandas for data handling
import numpy as np   # Import numpy for NaN representation

# Creating a DataFrame with some missing values (NaN)
df = pd.DataFrame({"Name": ["ROHIT", "DHONI", "VIRAT"],
                   "Age": [30, np.nan, 28],
                   "Score": [92, 87, np.nan]})
print("Original DataFrame with NaN values:\n", df, "\n")

Original DataFrame with NaN values:
     Name   Age  Score
0  ROHIT  30.0   92.0
1  DHONI   NaN   87.0
2  VIRAT  28.0    NaN

In [21]:
# Detect missing values

# isnull() returns True for NaN values, False otherwise
print("Detect missing values:\n", df.isnull(), "\n")

Detect missing values:
     Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True

In [22]:
# Fill missing values

# fillna(0) replaces all NaN values with 0
print("Fill missing values:\n", df.fillna(0), "\n")

Fill missing values:
     Name   Age  Score
0  ROHIT  30.0   92.0
1  DHONI   0.0   87.0
2  VIRAT  28.0    0.0

In [23]:
# Drop rows with missing values

# dropna() removes any row that contains at least one NaN
print("Drop rows with missing values:\n", df.dropna(), "\n")

Drop rows with missing values:
     Name   Age  Score
0  ROHIT  30.0   92.0

#### 6: Data Alignment and Reindexing

In [25]:
## TASK-8
import pandas as pd  # Import pandas library

# Creating first DataFrame with scores and custom index
df1 = pd.DataFrame({"Score": [91, 85, 89]}, index=["ROHIT", "DHONI", "VIRAT"])

# Creating second DataFrame with some overlapping and some new index
df2 = pd.DataFrame({"Score": [88, 95]}, index=["RUTURAJ", "JADEJA"])

# Display the original DataFrames
print("DataFrame 1:\n", df1, "\n")
print("DataFrame 2:\n", df2, "\n")

DataFrame 1:
        Score
ROHIT     91
DHONI     85
VIRAT     89

DataFrame 2:
          Score
RUTURAJ     88
JADEJA      95

In [26]:
# Automatic alignment in arithmetic

# Adding two DataFrames; pandas aligns rows by index
# Missing indices result in NaN
print("Adding df1 and df2:\n", df1 + df2, "\n")

Adding df1 and df2:
          Score
DHONI      NaN
JADEJA     NaN
ROHIT      NaN
RUTURAJ    NaN
VIRAT      NaN

In [27]:
# Reindexing

# Reindex df1 to include a new index 'Bumrah', filling missing values with 0
df3 = df1.reindex(["hariprasath", "Mahi", "Hardik", "Bumrah"], fill_value=0)
print("Reindexed DataFrame:\n", df3, "\n")

Reindexed DataFrame:
              Score
hariprasath      0
Mahi             0
Hardik           0
Bumrah           0

#### 7. Sorting and Grouping

In [28]:
## TASK-9
import pandas as pd  # Import pandas library

# Creating a new DataFrame with updated data
data = {"Name": ["ROHIT", "DHONI", "VIRAT","JADDU","PANDYA"],
        "Age": [31, 26, 29, 24, 27],
        "Score": [91, 85, 89, 90, 87]}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:\n", df, "\n")

Original DataFrame:
      Name  Age  Score
0   ROHIT   31     91
1   DHONI   26     85
2   VIRAT   29     89
3   JADDU   24     90
4  PANDYA   27     87

In [29]:
# Sorting by column

# sort_values sorts the DataFrame based on the 'Score' column
print("Sorted by Score:\n", df.sort_values(by="Score"), "\n")

Sorted by Score:
      Name  Age  Score
1   DHONI   26     85
4  PANDYA   27     87
2   VIRAT   29     89
3   JADDU   24     90
0   ROHIT   31     91

In [30]:
# Grouping data

# groupby groups rows by 'Age' and computes the mean of 'Score' for each group
grouped = df.groupby("Age")["Score"].mean()
print("Average score grouped by Age:\n", grouped, "\n")

Average score grouped by Age:
 Age
24    90.0
26    85.0
27    87.0
29    89.0
31    91.0
Name: Score, dtype: float64

In [33]:
## TASK-10
# Grouping Example
# Grouping and Aggregating for Series 

# Creating Series
import pandas as pd  # Import pandas library

# Salary series 
salary = pd.Series([72000, 68000, 75000, 70000],
                   index=["ROHIT", "DHONI", "VIRAT","JADDU"])

# Department for each person (updated names)
department = pd.Series(["Finance", "Finance", "IT", "IT"],
                       index=["ROHIT", "DHONI", "VIRAT","JADDU"])
print("Original Series:\n",department)

Original Series:
 ROHIT    Finance
DHONI    Finance
VIRAT         IT
JADDU         IT
dtype: object

In [34]:
# Grouping salaries by department and calculating mean
# groupby + mean calculates average salary for each department
grouped_series = salary.groupby(department).mean()
print("Mean salary by department (Series):\n", grouped_series, "\n")

Mean salary by department (Series):
 Finance    70000.0
IT         72500.0
dtype: float64

In [35]:
# Grouping by department (no aggregation yet)

# groupby returns a GroupBy object; actual aggregation not performed yet
grouped_series = salary.groupby(department)
print("Grouped Series (just groups, no aggregation):\n", grouped_series, "\n")

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000028618B6B360>

In [36]:
# Accessing a specific group

# get_group retrieves all entries belonging to a specific group
print("Finance group in Series:\n", grouped_series.get_group("Finance"), "\n")

Finance group in Series:
 ROHIT    72000
DHONI    68000
dtype: int64

In [37]:
#Aggregation Example

# Aggregation on grouped Series
# Compute mean salary per department
aggregated_series = grouped_series.mean()
print("Aggregated Series (mean salary per department):\n", aggregated_series, "\n")

# Other aggregations
print("Sum per department:\n", grouped_series.sum(), "\n")
print("Max per department:\n", grouped_series.max(), "\n")

Aggregated Series (mean salary per department):
 Finance    70000.0
IT         72500.0
dtype: float64

Sum per department:
 Finance    140000
IT         145000
dtype: int64

Max per department:
 Finance    72000
IT         75000
dtype: int64

In [38]:
## TASK-11

# Example: Grouping and Aggregating for MultiLevel Series

# Creating a MultiIndex for department and employee
arrays = [
    ["Finance", "Finance", "IT", "IT"],  # First level: Dept
    ["ROHIT", "DHONI", "VIRAT","JADDU"]   # Second level: Employee
]
index = pd.MultiIndex.from_arrays(arrays, names=("Dept", "Employee"))

# Creating MultiLevel Series with updated salaries
multi_s = pd.Series([72000, 68000, 75000, 70000], index=index)
print("Original Multi Series:\n",multi_s)

Original Multi Series:
 Dept     Employee
Finance  ROHIT       72000
         DHONI       68000
IT       VIRAT       75000
         JADDU       70000
dtype: int64

In [39]:
# Group by first level (Dept) and calculate mean
# level=0 indicates the first level of MultiIndex
grouped_multi = multi_s.groupby(level=0).mean()
print("Mean salary by department (MultiLevel Series):\n", grouped_multi, "\n")

Mean salary by department (MultiLevel Series):
 Dept
Finance    70000.0
IT         72500.0
dtype: float64

In [40]:
## TASK-12

# Grouping (DataFrame)
import pandas as pd

# DataFrame
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Employee": ["ROHIT", "DHONI", "VIRAT","JADDU"],
    "Salary": [50000, 55000, 60000, 62000]
})

print("Original DataFrame:\n",df)

Original DataFrame:
   Department Employee  Salary
0         HR    ROHIT   50000
1         HR    DHONI   55000
2         IT    VIRAT   60000
3         IT    JADDU   62000

In [41]:
# Grouping by Department
grouped_df = df.groupby("Department")
print("Grouped DataFrame (just groups, no aggregation):\n", grouped_df, "\n")

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000286002CB610>

In [42]:
# Accessing one group
print("HR group in DataFrame:\n", grouped_df.get_group("HR"), "\n")

HR group in DataFrame:
   Department Employee  Salary
0         HR    ROHIT   50000
1         HR    DHONI   55000

In [43]:
# Aggregating DataFrame 

# Aggregation on grouped DataFrame
# Compute mean salary per department
aggregated_df = grouped_df["Salary"].mean()
print("Aggregated DataFrame (mean salary per department):\n", aggregated_df, "\n")

Aggregated DataFrame (mean salary per department):
 Department
HR    52500.0
IT    61000.0
Name: Salary, dtype: float64

In [44]:
# Multiple aggregations on DataFrame
multi_agg_df = grouped_df.agg({
    "Salary": ["mean", "sum", "max"]
})
print("Aggregated DataFrame (multiple stats):\n", multi_agg_df, "\n")

Aggregated DataFrame (multiple stats):
              Salary
               mean     sum    max
Department
HR          52500.0  105000  55000
IT          61000.0  122000  62000

In [45]:
## TASK-13
import pandas as pd  # Import pandas for data analysis

# Creating a DataFrame with Department, Employee, Salary, and Bonus
df = pd.DataFrame({
    "Department": ["Finance", "Finance", "IT", "IT", "Finance", "IT"],
    "Employee": ["ROHIT", "DHONI", "VIRAT","JADDU","PANDYA","BRENDON"],
    "Salary": [72000, 68000, 75000, 70000, 73000, 71000],
    "Bonus": [8000, 7500, 9000, 8500, 8200, 8800]
})

print("Original DataFrame:\n", df, "\n")

Original DataFrame:
   Department Employee  Salary  Bonus
0    Finance    ROHIT   72000   8000
1    Finance    DHONI   68000   7500
2         IT    VIRAT   75000   9000
3         IT    JADDU   70000   8500
4    Finance   PANDYA   73000   8200
5         IT  BRENDON   71000   8800

In [46]:
# Grouping by Department (no aggregation yet)

# groupby forms groups based on 'Department' column
grouped = df.groupby("Department")
print("Groups formed:\n", grouped.groups, "\n")

Groups formed:
 {'Finance': [0, 1, 4], 'IT': [2, 3, 5]}

In [47]:
# Access a specific group using get_group()
print("Finance group:\n", grouped.get_group("Finance"), "\n")

Finance group:
   Department Employee  Salary  Bonus
0    Finance    ROHIT   72000   8000
1    Finance    DHONI   68000   7500
4    Finance   PANDYA   73000   8200

In [48]:
# Aggregating after grouping

# 1. Single aggregation function (mean salary per department)
mean_salary = grouped["Salary"].mean()
print("Mean Salary per Department:\n", mean_salary, "\n")

Mean Salary per Department:
 Department
Finance    71000.0
IT         72000.0
Name: Salary, dtype: float64

In [49]:
# 2. Multiple aggregation functions on different columns
agg_stats = grouped.agg({
    "Salary": ["mean", "max", "min"],   # Apply multiple functions on Salary
    "Bonus": ["sum", "mean"]            # Apply functions on Bonus
})
print("Aggregated stats per Department:\n", agg_stats, "\n")

Aggregated stats per Department:
              Salary                Bonus
               mean    max    min    sum         mean
Department
Finance     71000.0  73000  68000  23700  7900.000000
IT          72000.0  75000  70000  26300  8766.666667

In [50]:
# Filtering groups (e.g., keep only departments with mean salary > 71000)

# filter keeps rows from groups where the condition is True
high_salary_dept = grouped.filter(lambda x: x["Salary"].mean() > 71000)
print("Departments with mean salary > 70000:\n", high_salary_dept, "\n")

Departments with mean salary > 70000:
   Department Employee  Salary  Bonus
2         IT    VIRAT   75000   9000
3         IT    JADDU   70000   8500
5         IT  BRENDON   71000   8800

#### Difference between grouping/ aggregating in series and dataframes
- In grouping, a Series can be grouped only by another Series or index level, while a DataFrame can be grouped by one or more columns.
- Series aggregation operates on a single column and returns a Series, whereas DataFrame aggregation can operate on multiple columns and return a DataFrame.
- Series is simpler and suitable for single-column data, while DataFrame is more powerful for handling complex, multi-column datasets.

#### 8. Merging DataFrame

In [51]:
## TASK-14

# Import pandas library
import pandas as pd  

# DataFrame 1: Employee to Department mapping
df1 = pd.DataFrame({
    "Employee": ["ROHIT", "DHONI", "VIRAT","JADDU"],   # Employee names
    "Department": ["Finance", "IT", "Finance", "HR"] # Their departments
})
print("DataFrame 1:\n",df1)

DataFrame 1:
   Employee Department
0    ROHIT    Finance
1    DHONI         IT
2    VIRAT    Finance
3    JADDU         HR

In [52]:
# DataFrame 2: Employee to Salary mapping
df2 = pd.DataFrame({
    "Employee": ["ROHIT", "DHONI", "VIRAT","JADDU"],  # Some employees (Anna not in df1)
    "Salary": [70000, 65000, 72000, 60000]         # Salaries
})
print("DataFrame 2:\n",df2)

DataFrame 2:
   Employee  Salary
0    ROHIT   70000
1    DHONI   65000
2    VIRAT   72000
3    JADDU   60000

In [53]:
# Inner Merge: Keeps only employees present in both df1 and df2

inner_merge = pd.merge(df1, df2, on="Employee", how="inner")
print("Inner Merge:\n", inner_merge, "\n")

Inner Merge:
   Employee Department  Salary
0    ROHIT    Finance   70000
1    DHONI         IT   65000
2    VIRAT    Finance   72000
3    JADDU         HR   60000

In [54]:
# Outer Merge: Keeps all employees from both df1 and df2

# Missing values are filled with NaN
outer_merge = pd.merge(df1, df2, on="Employee", how="outer")
print("Outer Merge:\n", outer_merge, "\n")

Outer Merge:
   Employee Department  Salary
0    DHONI         IT   65000
1    JADDU         HR   60000
2    ROHIT    Finance   70000
3    VIRAT    Finance   72000

In [56]:
## TASK-15

# Merging on different key columns
# Merging two DataFrames using different column names in each DataFrame by using left_on and right_on.

# DataFrame 1: Contains Employee IDs and Names
df1 = pd.DataFrame({
    "EmpID": [10, 20, 30],                # Employee IDs in df1
    "Name": ["ROHIT", "DHONI", "VIRAT"]      # Corresponding employee names
})
print("DataFrame 1:\n",df1)

DataFrame 1:
    EmpID   Name
0     10  ROHIT
1     20  DHONI
2     30  VIRAT

In [57]:
# DataFrame 2: Contains Employee IDs (with different column name) and Salaries

df2 = pd.DataFrame({
    "EmployeeID": [20, 30, 40],           # Employee IDs in df2 (note: column name differs)
    "Salary": [72000, 68000, 75000]       # Salaries of employees
})
print("DataFrame 2:\n",df2)

DataFrame 2:
    EmployeeID  Salary
0          20   72000
1          30   68000
2          40   75000

In [58]:
# Merge df1 and df2 using different column names
# left_on="EmpID" → column from df1
# right_on="EmployeeID" → column from df2
# how="inner" → only keeps rows where IDs match in both DataFrames

merged_df = pd.merge(df1, df2, left_on="EmpID", right_on="EmployeeID", how="inner")

# Print merged DataFrame
print("Merge on different keys:\n", merged_df)

Merge on different keys:
    EmpID   Name  EmployeeID  Salary
0     20  DHONI          20   72000
1     30  VIRAT          30   68000

In [60]:
## TASK-16
# Merging using indexes

# Instead of merging on columns, you can merge using the row index with left_index=True and right_index=True.

df1 = pd.DataFrame({"Salary": [50000, 60000]}, index=["ROHIT", "DHONI"])
df2 = pd.DataFrame({"Department": ["HR", "IT"]}, index=["ROHIT", "DHONI"])

# Merge using index
merged_index_df = pd.merge(df1, df2, left_index=True, right_index=True)
print("Merge using indexes:\n", merged_index_df)

Merge using indexes:
        Salary Department
ROHIT   50000         HR
DHONI   60000         IT

#### 9. Handling overlapping column names

In [61]:
## TASK-17

# Import pandas library
import pandas as pd  

# DataFrame 1: Old salary records of employees
df1 = pd.DataFrame({
    "Employee": ["ROHIT", "DHONI"],       # Employee names
    "Salary": [70000, 80000]            # Old salary values
})
print("DataFrame 1:\n",df1)

DataFrame 1:
   Employee  Salary
0    ROHIT   70000
1    DHONI   80000

In [62]:
# DataFrame 2: New salary records of employees

df2 = pd.DataFrame({
    "Employee": ["Mahi", "Hardik"],       # Notice "Mahi" overlaps, "Hardik" is new
    "Salary": [85000, 78000]            # New salary values
})
print("DataFrame 2:\n",df2)

DataFrame 2:
   Employee  Salary
0     Mahi   85000
1   Hardik   78000

In [63]:
# Merge df1 and df2 on "Employee"
# how="outer" → includes all employees from both DataFrames
# suffixes=("_Old", "_New") → renames overlapping column "Salary" 
# so they don’t clash, making it Salary_Old and Salary_New

merged_df = pd.merge(df1, df2, on="Employee", how="outer", suffixes=("_Old", "_New"))
# Print merged DataFrame
print("Merge with custom suffixes:\n", merged_df)

Merge with custom suffixes:
   Employee  Salary_Old  Salary_New
0    DHONI     80000.0         NaN
1   Hardik         NaN     78000.0
2     Mahi         NaN     85000.0
3    ROHIT     70000.0         NaN

#### 10. Generating Summary Tables

#### Summary table 
- df.pivot_table(values='NumericColumn', index='RowCategory', columns='ColumnCategory', aggfunc='mean') values → numeric column to summarize
- index → row labels
- columns → column labels (optional)
- aggfunc → aggregation function (mean, sum, count, etc.)

In [64]:
## TASK-18
# Import pandas library
import pandas as pd  

# Create a sample DataFrame with Department, Team, and Salary

df = pd.DataFrame({
    "Department": ["Finance", "Finance", "IT", "IT"],   # Two departments
    "Team": ["A", "B", "A", "B"],                       # Two teams within each department
    "Salary": [70000, 72000, 65000, 67000]              # Salary values for each team
})

# Create a pivot table to summarize salaries
# values="Salary"   → we are summarizing the Salary column
# index="Department" → Departments become row index
# columns="Team"     → Teams become column headers
# aggfunc="mean"     → average salary is calculated per group

summary = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")
# Print the summary table
print("Pivot Table Summary:\n", summary)

Pivot Table Summary:
 Team              A        B
Department
Finance     70000.0  72000.0
IT          65000.0  67000.0

In [60]:
## TASK-19

# Import pandas library
import pandas as pd  

# Create a DataFrame with Department, Team, and Salary
df = pd.DataFrame({
    "Department": ["Finance", "Finance", "IT", "IT", "Finance", "IT"],  # Departments
    "Team": ["X", "Y", "X", "Y", "X", "Y"],                             # Teams inside each department
    "Salary": [70000, 72000, 65000, 67000, 71000, 68000]                # Salary values
})

# Create a pivot table to summarize the average Salary
# values="Salary"   → we want to summarize the Salary column
# index="Department" → rows will be Departments
# columns="Team"     → columns will be Teams (X, Y)
# aggfunc="mean"     → average salary is calculated if multiple entries exist

summary_table = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")
# Print the summary pivot table
print("Summary Table (Average Salary):\n", summary_table)

Summary Table (Average Salary):
 Team              X        Y
Department
Finance     70500.0  72000.0
IT          65000.0  67500.0

In [61]:
## TASK-20
# Pivot Table with Multiple Aggregation Functions

# applying more than one aggregation function at once using a list:
summary_table_multi = df.pivot_table(
    values="Salary",
    index="Department",
    columns="Team",
    aggfunc=["mean", "sum", "max"]
)
print("Pivot Table with Multiple Aggregations:\n", summary_table_multi)

Pivot Table with Multiple Aggregations:
                mean              sum            max
Team              X        Y       X       Y      X      Y
Department
Finance     70500.0  72000.0  141000   72000  71000  72000
IT          65000.0  67500.0   65000  135000  65000  68000

In [62]:
## TASK-21

# Handling Missing Data
# Pivot tables automatically fill missing combinations with NaN.

# Replace missing values with fill_value
summary_table_fill = df.pivot_table(
    values="Salary",
    index="Department",
    columns="Team",
    aggfunc="mean",
    fill_value=0
)
print("Pivot Table with Missing Values Filled:\n", summary_table_fill)

Pivot Table with Missing Values Filled:
 Team              X        Y
Department
Finance     70500.0  72000.0
IT          65000.0  67500.0

In [63]:
## TASK-22

# Grouping vs Pivot Tables
# Pivot tables are essentially groupby + aggregation + reshape in one step.
# They are easier to read when summarizing across two categorical variables.

# Equivalent using groupby
grouped = df.groupby(["Department", "Team"])["Salary"].mean().unstack()
print("Equivalent using groupby + unstack:\n", grouped)

Equivalent using groupby + unstack:
 Team              X        Y
Department
Finance     70500.0  72000.0
IT          65000.0  67500.0